<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Votr</title>

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Google fonts (Roboto) -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet" />

  <!-- Style CSS -->
  <link rel="stylesheet" href="/lhl-votr/styles/styles.css" />
  <!-- Nav CSS -->
  <link rel="stylesheet" href="/lhl-votr/styles/nav.css" />
  <link rel="stylesheet" href="/lhl-votr/styles/results.css">
  <!-- Voters CSS -->
  <link rel="stylesheet" href="/lhl-votr/styles/voters.css" />
  <!-- Footer CSS -->
  <link rel="stylesheet" href="/lhl-votr/styles/footer.css" />
</head>

<body>
  <header class="main-header">
    <!-- Top Nav bar -->
    <img src="/lhl-votr/media/Votr Logo.png" href="index.ejs" class="logo"></img>
    <nav class="main-nav">
      <div class="main-nav-container">
        <ul class="main-nav-list">
          <li><a class="main-nav-link" href="/lhl-votr/views/index.ejs">Home</a></li>
          <li><a class="main-nav-link" href="/lhl-votr/views/polls.ejs">Polls</a></li>
        </ul>
      </div>
    </nav>
  </header>

  <!-- Vote Section -->
  <section class="votes">
    <section class="results-section">
      <div class="activity">
        <span class="activity-name">Activity 1</span>

        <div class="ratings">
          <button class="links">1</button>
          <button class="links">2</button>
          <button class="links">3</button>
          <button class="links">4</button>
          <button class="links">5</button>
        </div>

        <span class="activity-name">Activity 2</span>
        <div class="ratings">
          <button class="links">1</button>
          <button class="links">2</button>
          <button class="links">3</button>
          <button class="links">4</button>
          <button class="links">5</button>
        </div>
        <span class="activity-name">Activity 3</span>
        <div class="ratings">
          <button class="links">1</button>
          <button class="links">2</button>
          <button class="links">3</button>
          <button class="links">4</button>
          <button class="links">5</button>
        </div>
      </div>


    </section>
  </section>

  <footer class="footer">
    <div class="social-box">
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
      <a href="#"><i class="fab fa-github"></i></a>
    </div>

    <ul class="footer-list">
      <li><a class="footer-link" href="/lhl-votr/views/index.ejs">Home</a></li>
      <li><a class="footer-link" href="/lhl-votr/views/polls.ejs">Polls</a></li>
      <!-- <li><a class="footer-cta" href="/Votr/views/polls.html">Create New Poll</a></li> -->
    </ul>
    <p class="copyright"> Copyright Votr @ 2022</p>
  </footer>
</body>

</html>
